<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title>Message Board</title>
	</head>
	<body>
		<h1> Mini Messageboard </h1>
		<ul>
			<% if(messages.length > 0) {messages.forEach((msg, index) => { %>
				<% let linkAddress = '/details/' + index %>
				<li>
					<div class="message">
						<%= msg.text %> </br>
					</div>

					<b> <%= msg.user %> </b> 
					(Posted on <%= msg.added.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>) 
					<a href= <%= linkAddress %>>Details</a> </br> 
				</li>
			<% })} %>
		</ul>

		<form action="/new" method="get">
			<button type="submit">New Message</button>
		</form>	
	</body>
</html>
